.container {
    min-width: 100%;
    max-height: 44rem;
    /* aspect-ratio: 3 / 2; */

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;

    /* transform-origin: top center; */
    transform: scale(.85);

    padding: 1rem;
    /* animation: animate-messages 1s ease-in-out; */
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: paused;

    @media screen and (min-width: 768px) {
        /* padding: 6rem; */
    }
}

.animate_messages {
    animation-name: animate-messages_;
    animation-play-state: running;
}

@keyframes animate-messages {
    0% {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
    }
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0fr 44rem;
    }
}