.container {
    /* gap: calc(var(--spacing) * 12);  */
    transition: background-color .125s linear;
    place-content: center;
    /* place-items: end; */
    @media (min-width: 768px) {
        /* min-width: 100%; */
        /* aspect-ratio: 3 / 2; */

        display: grid;
        grid-template-columns: var(--col-width) var(--col-width) var(--col-width);
        grid-template-rows: var(--row-height) var(--row-height);
        gap: calc(var(--spacing) * 3) /* 1rem = 16px */;

    /* transform-origin: top center; */
        transform: scale(.85);

        overflow-x: clip;

        scroll-snap-align: start;
        container-type: scroll-state;

        padding-block: 0;
    }
}

.animate_messages {
    pointer-events: all;
}