.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;
    /* animation: animate-messages 1s ease-in-out; */
    &.animate-messages {
        animation: animate-messages 1s linear both;
    }
}

@keyframes animate-messages {
    0% {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
    }
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0fr 44rem;
    }
}