.container {
    /* gap: calc(var(--spacing) * 12);  */
    transition: background-color .125s linear;
    @media (min-width: 768px) {
        min-width: 100%;
        /* aspect-ratio: 3 / 2; */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: var(--row-height) var(--row-height);
        gap: calc(var(--spacing) * 4) /* 1rem = 16px */;

    /* transform-origin: top center; */
    /* transform: scale(.85); */

    overflow-y: clip;

    scroll-snap-align: start;
    container-type: scroll-state;

    padding-block: 0;
    }

    @starting-style {
        background-color: var(--primary);
    }
}

.animate_messages {
    pointer-events: all;
}