.container {
    gap: calc(var(--spacing) * 12); 
    @media (min-width: 768px) {
        min-width: 100%;
        /* aspect-ratio: 3 / 2; */

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
        gap: calc(var(--spacing) * 4) /* 1rem = 16px */;

    /* transform-origin: top center; */
    /* transform: scale(.85); */

    overflow-y: clip;

    scroll-snap-align: start;
    container-type: scroll-state;

    padding-block: 0;
    }
}