.container {
    width: 100%;
    max-height: 44rem;
    aspect-ratio: 3 / 2;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    gap: calc(var(--spacing) * 4) /* 1rem = 16px */;

    transform-origin: top center;
    transform: scale(.85);

    padding: 1rem;
    margin: 0;
    
    /* animation: animate-messages 1s ease-in-out; */
    &.animate-messages {
        animation: animate-messages 1s linear both;
    }

    @media screen and (min-width: 768px) {
        padding: 6rem;
    }
}

@keyframes animate-messages {
    0% {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
    }
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0fr 44rem;
    }
}