
.hero {
    position: relative;
    
    background-color: var(--background);
    place-content: flex-start;
    place-self: flex-start;
    align-self: flex-start;
    justify-self: flex-start;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-top: 0;

    transform-origin: center;
}


.section {
    /* lg:pl-20 lg:pt-20 lg:gap-4" */
    transform-style: preserve-3d;
    perspective: 2000px; 
    width: 50%;
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    text-align: left;
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-top: 5rem;
    gap: 1rem;

    @media screen and (min-width: 768px) {
        animation: fadeOut linear both;
        -webkit-animation: fadeOut linear both;
        animation-timeline: scroll(root);
        animation-range: 0 15vh;        
    }
}

.typing_animation {
    font-size: 2.25rem;
    line-height: 1;
    margin-block: .5rem;
    font-weight: 300;
    & > span:last-child {
        color: var(--primary);
    }
}

@media screen and (orientation: portrait) {
    .typing_animation {
        font-size: 2.25rem;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        scale: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        scale: 0.95;
        transform: translateY(-50px);
    }
}
