
.hero {
    position: relative;
    
    background-color: var(--background);
    place-content: flex-start;
    place-self: flex-start;
    align-self: flex-start;
    justify-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
    padding-top: 0;
}