.container {
    transform-origin: center;
    width: 50%;
    height: 100%;

    mask-image: linear-gradient(45deg, #ffffff80 40%, black), radial-gradient(farthest-side, black, white, transparent);
    mask-composite: intersect;
}