    .navbar {
        /* position: fixed; */
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;

        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(10px);
        transition: transform 300ms ease-in-out, opacity 225ms linear;
        
        @media (min-width: 768px) {
            /* position: sticky; */
            top: 0;
            background-color: transparent;
            backdrop-filter: none;
        }
        
        padding: 0.5rem 1rem;

        @media (min-width: 1024px) {
            padding: 2rem;
            margin-bottom: 2rem;
        }
        
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        @media (min-width: 768px) {
            flex-wrap: nowrap;
        }
        gap: 1rem;
        
        opacity: 1;

        /* @starting-style {
            opacity: 1;
        } */
    }
    
.isScrolling {
    opacity: 0;
}

@keyframes animate {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}