.container {
    /* width: stretch; */
    /* height: stretch;@ */
    max-height: 25dvh;
    animation: scaleOutIn linear both;
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;

    @starting-style {
        scale: 100% 100%;
        margin: 0;
    }
}

.card {
    /* 0 === skills
    1 === speed typer
    2 === trello to google apps script
    3 === baby log
    4 === Ma rue */
    & > * {
        border: 20px solid red;
        background-color: red;
    }
}

@keyframes scaleOutIn {
    0% {
        scale: 100%;
        margin: 0;
    }
    100% {
        scale: 85%;
        /* margin: 12.5vw; */
    }
}