.container {
    max-width: 100%;
    max-height: 66dvh;

    animation: scaleOutIn linear both;
    -webkit-animation: scaleOutIn linear both;
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;

    perspective: 2000px;
    transform-style: preserve-3d;
    transform-origin: center center -50px;
}

.card {    
    @media screen and (width > 768px) {
            /* perspective: 100px;
    transform-style: preserve-3d;
    transform-origin: center center -50px; */
    
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;

    /* 1 === skills
    2 === speed typer
    3 === trello to google apps script
    4 === baby log
    5 === Ma rue */    

    &:nth-of-type(1) {
        animation: rotate1 linear both;
        animation-timeline: scroll();        
    }    
    &:nth-of-type(2) {
        animation: rotate2 linear both;
    }

    &:nth-of-type(3) {
        animation: rotate3 linear both;
    }

    &:nth-of-type(4) {
        animation: rotate4 linear both;
        animation-timeline: scroll();
    }  
    &:nth-of-type(5) {
        animation: rotate5 linear both;
        animation-timeline: scroll();
    }  
    
    /* CONTACT */
    &:nth-of-type(6) {
        animation: rotate6 linear both;
        animation-timeline: scroll();        
    }  
    }   
}

.contact {    
    display: flex;
    column-span: 3;
    display: flex; 
    @media screen and (orientation: landscape){
        grid-row-start: 2;
        grid-column: 2 / span 1;
    }

    @media screen and (max-width: 767px) {
        /* display: none; */
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        animation-name: none;
        animation-timeline: none;      
        @starting-style {
            transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
            animation-timeline: none;      
        }
    }
}

@keyframes scaleOutIn {
    0% {
        margin: 0;
        transform: scale(1.05);
    }
    100% {
        transform: scale(.85);
    }
}


@keyframes rotate1 {
    0% {
        transform: rotateX(42deg) rotateY(17deg) translate(-100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(-42deg) rotateY(-17deg) translate(-25%,0) translateZ(500px);
        opacity: 0; }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;}
}

@keyframes rotate4 {
    0% {
        /* transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px); */
        transform: rotateX(42deg) rotateY(-17deg) translate(100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform:rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate5 {
    0% {
        transform: translate(0,-100%) rotateX(42deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform:translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate6 {
    0% {
        transform: translate(0,100%) rotateX(-90deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}