.container {
    max-width: 100%;
    max-height: 66dvh;

    animation: scaleOutIn linear both;
    -webkit-animation: scaleOutIn linear both;
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;

    perspective: 2000px;
    transform-style: preserve-3d;
    transform-origin: center center -50px;
}

.card {    
    @media screen and (width > 768px) {
            /* perspective: 100px;
    transform-style: preserve-3d;
    transform-origin: center center -50px; */
    
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;

    /* 1 === skills
    2 === speed typer
    3 === trello to google apps script
    4 === baby log
    5 === Ma rue */    

    &:nth-of-type(1) {
        animation: rotate1 linear both;
        animation-timeline: scroll();        
    }    
    &:nth-of-type(2) {
        animation: rotate2 linear both;
    }

    &:nth-of-type(3) {
        animation: rotate3 linear both;
    }

    &:nth-of-type(4) {
        animation: rotate4 linear both;
        animation-timeline: scroll();
    }  
    &:nth-of-type(5) {
        animation: rotate5 linear both;
        animation-timeline: scroll();
    }  
    
    /* CONTACT */
    &:nth-of-type(6) {
        animation: rotate6 linear both;
        animation-timeline: scroll();        
    }  
    }   
}

.contact {    
    display: flex;
    column-span: 3;
    display: flex; 
    @media screen and (orientation: landscape){
        grid-row-start: 2;
        grid-column: 2 / span 1;
    }

    @media screen and (max-width: 767px) {
        /* display: none; */
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        animation-name: none;
        animation-timeline: none;      
        @starting-style {
            transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
            animation-timeline: none;      
        }
    }
}

.ProjectsContactCardContent {
    width: 100%;    
    display: flex;
    justify-content: end;
    
    gap: 0;
}

.button {
    position: relative;
    pointer-events: auto;

    min-width: 2rem;
    margin-inline: calc(var(--spacing) * 1.5);
    color: transparent;
}

.ornament {
    position: absolute;
    top: 0;
    left: 0;
    
    *:hover > &  {
        animation-name: popup_container;
        animation-duration: 175ms;
        animation-timing-function: linear(0, 0.415 5.8%, 0.725 12.1%, 0.936 19%, 1.009 22.8%, 1.061 26.9%, 1.101 32.9%, 1.109 40%, 1.097 46.2%, 1.039 63.2%, 1.016 72.9%, 1.003 84%, 1);
        animation-delay: .18s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: both;
        animation-play-state: running;
        opacity: 1;
        color: var(--foreground);
    }
}

.speed_typer_container {
    position: relative;
    background-color: #ffffff00;
}

.speed_typer_image {
    /* 'absolute top-0 left-0 right-0 bottom-0' */
    position: absolute;
    inset: 0;

    /* filter: invert(1);
    mix-blend-mode:hard-light; */

    filter: invert(.25);
    mix-blend-mode:hard-light;
}

.slide-in {
    animation: slide-in 2s linear forwards;
}

.slide-out {
    animation: slide-out 2s linear forwards;
}

@keyframes popup_container {
    0% {
        transform: translateY(0%) scaleX(0);
    }
    100% {
        transform: translateY(-100%) scale(2,.8);        
    }    
}

@keyframes scaleOutIn {
    0% {
        margin: 0;
        transform: scale(1.05);
    }
    100% {
        transform: scale(.85);
    }
}


@keyframes rotate1 {
    0% {
        transform: rotateX(42deg) rotateY(17deg) translate(-100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(-42deg) rotateY(-17deg) translate(-25%,0) translateZ(500px);
        opacity: 0; }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;}
}

@keyframes rotate4 {
    0% {
        /* transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px); */
        transform: rotateX(42deg) rotateY(-17deg) translate(100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform:rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate5 {
    0% {
        transform: translate(0,-100%) rotateX(42deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform:translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate6 {
    0% {
        transform: translate(0,100%) rotateX(-90deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes slide-in {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}