.container {
    /* width: stretch; */
    /* height: stretch;@ */
    max-width: 100%;
    max-height: 25dvh;
    animation: scaleOutIn linear both;
    animation-timeline: scroll();
    animation-range: entry 0% entry 100%;
    /* overflow-x: clip; */

    @starting-style {
        scale: 100% 100%;
        margin: 0;
    }
}

.card {
    perspective: 1000px;
    transform-style: preserve-3d;
    /* 1 === skills
    2 === speed typer
    3 === trello to google apps script
    4 === baby log
    5 === Ma rue */    
    &:nth-of-type(1) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(45deg); */
        animation: rotate1 linear both;
        animation-timeline: scroll();
        animation-range: entry 0% entry 75%;
    }    
    &:nth-of-type(2) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(45deg); */
        animation: rotate2 linear both;
        animation-timeline: view();
        animation-range: entry 0% entry 75%;
    }

    &:nth-of-type(3) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(45deg); */
        animation: rotate3 linear both;
        animation-timeline: view();
        animation-range: entry 0% entry 75%;
    }

    &:nth-of-type(4) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(45deg); */
        animation: rotate4 linear both;
        animation-timeline: view();
        animation-range: entry 0% entry 75%;
    }  
    &:nth-of-type(5) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(45deg); */
        animation: rotate5 linear both;
        animation-timeline: view();
        animation-range: entry 0% entry 75%;
    }  
    
    &:nth-of-type(6) {
        perspective: 1000px;
        transform-style: preserve-3d;
        /* border: 2px solid red; */
        /* background-color: red; */
        /* display: none; */
        /* transform: translateZ(100px) rotateY(46deg); */
        animation: rotate6 linear both;
        animation-timeline: scroll();
        animation-range: entry 50% entry 100%;
    }      
}

@keyframes scaleOutIn {
    0% {
        margin: 0;
        transform: scale(1.05);
    }
    100% {
        transform: scale(.85);
    }
}


@keyframes rotate1 {
    0% {
        transform: rotateX(42deg) rotateY(17deg) translate(-100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px);
    }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(-42deg) rotateY(-17deg) translate(-25%,0) translateZ(500px);
        opacity: 0; }
    100% {
        transform: rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;}
}

@keyframes rotate4 {
    0% {
        /* transform: rotateX(-42deg) rotateY(17deg) translate(25%,0) translateZ(500px); */
        transform: rotateX(42deg) rotateY(-17deg) translate(100%,0) translateZ(500px);
        opacity: 0;
    }
    100% {
        transform:rotateX(0deg) rotateY(0deg) translate(0,0) translateZ(0px);
        opacity: 1;
    }
}

@keyframes rotate5 {
    0% {
        transform: translate(0,-100%) rotateX(42deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform:translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}

@keyframes rotate6 {
    0% {
        transform: translate(0,100%) rotateX(-90deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: translate(0,0) rotateX(0deg) scale(1);
        opacity: 1;
    }
}