.container {
    /* width: stretch; */
    /* height: stretch;@ */
    max-height: 25dvh;
    animation: scaleOutIn linear both;
    animation-timeline: view();
    animation-range: entry 0% entry 200%;

    @starting-style {
        scale: 100% 100%;
        margin: 0;
    }
}

@keyframes scaleOutIn {
    0% {
        scale: 100%;
        margin: 0;
    }
    100% {
        scale: 85%;
        /* margin: 12.5vw; */
    }
}