.grid {
    /* width: stretch;
    height: stretch; */
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    gap: calc(var(--spacing) * 4);
    /* gap: 0px;

    @starting-style {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
        gap: calc(var(--spacing) * 4);
    }  */

    animation: animateGrid .14s linear forwards;

    transform-origin: bottom center;

    max-height: 66dvh;

    & > *:first-child {
        @starting-style {
            /* max-height: 50dvh !important; */
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        grid-row: 2 / span 1;
        grid-column: 2 / span 1;

        /* grid-row: 1 / span 2;
        grid-column: 1 / span 3; */

        background-color: var(--primary);
        transform-origin: bottom center;
    }    
}

@keyframes animateGrid{
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0px 44rem;
        gap: 0;
    }
}