.grid {
    max-width: 100%;
    height: 100%;
    max-height: 66dvh;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;

    padding: 4rem;
    /* padding: 24rem; */
    /* gap: calc(var(--spacing) * 4); */
    /* gap: 0px;

    @starting-style {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
        gap: calc(var(--spacing) * 4);
    }  */

    animation: animateGrid_ .14s linear forwards;

    transform-origin: bottom center;
    transform: scale(.85);

    grid-template-columns: 0fr 1fr 0fr;
    grid-template-rows: 0px 44rem;
    gap: 0;

    & > *:first-child {
        @starting-style {
            /* max-height: 50dvh !important; */
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        grid-row: 2 / span 1;
        grid-column: 2 / span 1;

        /* grid-row: 1 / span 2;
        grid-column: 1 / span 3; */

        /* background-color: var(--primary); */
        transform-origin: bottom center;
    }    
}

.header {
    transform-origin: bottom center calc(100dvh / 12 * -1);
    transform-style: preserve-3d;
    transform: translateY(0%);
    padding-inline: 1rem;
    /* transition: transform 1s linear both;
     */

    /* animation: header_entrance .07s linear forwards; */
    @starting-style {
        /* transform: translateY(-50%) rotateX(90deg); */
        opacity: 1;
    }    
    :global(.dark) & {
        color: #e4e4e4;        
    }
}   

.card_container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 44rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10dvh 1fr;
    gap: 0;

    padding: 0px;
    margin-top: 0px;

    background-color: hsl(from #e4e4e4 h s l / 50%);

    :global(.dark) & {
        background-color: hsl(from white h s l / 100%);
        color: var(--background);
    }

    & > *:first-child {
        width: 100%;
        height: 100%;
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    & > *:nth-child(2){
        width: 100%;
        height: 100%;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
}

.card_header {
    width: 100%;
    /* height: fit-content; */
    border-bottom: 2px solid var(--background);
    border-top: 2px solid var(--background);
    margin-top: 0px;
}

.card_footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
    gap: calc(var(--spacing) * 6);
    margin: 0px;
    padding-bottom: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
    /* border-left: 4px solid var(--background); */
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    /* background-color: blue; */
    border-radius: 0;
    border-bottom-right-radius: 0.5rem;

    :global(.dark) & {
        /* PARTIE DROITE DE LA GRID AVEC LES ICONES RESEAUX SOCIAUX */
    }

    & > button > *:first-child,
    & >  button > a > svg {
        stroke-width: 1.5px;
        transition: width 1s linear both, height 1s linear both;
    }
}

.isSelected {
    border: 1px solid var(--primary);
    /* border-style: dotted; */
    border-radius: 0.5rem;
    padding: 2px;
    & svg {
        stroke: var(--primary);
    }
}

@keyframes animateGrid{
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0px 44rem;
        gap: 0;
    }
}