.grid {
    height: 100%;
    display: grid;    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22rem 22rem;
    /* gap: calc(var(--spacing) * 4); */
    /* gap: 0px;

    @starting-style {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 22rem 22rem;
        gap: calc(var(--spacing) * 4);
    }  */

    animation: animateGrid .14s linear forwards;

    transform-origin: bottom center;

    max-height: 66dvh;

    & > *:first-child {
        @starting-style {
            /* max-height: 50dvh !important; */
            grid-row: 2 / span 1;
            grid-column: 2 / span 1;
        }

        grid-row: 2 / span 1;
        grid-column: 2 / span 1;

        /* grid-row: 1 / span 2;
        grid-column: 1 / span 3; */

        /* background-color: var(--primary); */
        transform-origin: bottom center;
    }    
}

.card_container {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: between;
    align-items: stretch; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10dvh 1fr;
    gap: 0;
    /* margin-bottom: calc(var(--spacing) * 4); */
    scale: 0.85;
    /* border-radius: 0px 0px var(--radius) var(--radius); */
    padding: 0px;
    margin-top: 0px;

    background-color: hsl(from white h s l / 90%);

    & > *:first-child {
        width: 100%;
        height: 100%;
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    & > *:nth-child(2){
        width: 100%;
        height: 100%;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
}

.card_footer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    gap: calc(var(--spacing) * 6);
    margin: 0px;
    padding-bottom: calc(var(--spacing) * 6);
    padding-right: calc(var(--spacing) * 6);
    border-left: 4px solid var(--background);
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    /* background-color: blue; */
    border-radius: 0;
    border-bottom-right-radius: 0.5rem;
}

.bgPrimary {
    background-color: red;
    display: none;
}

@keyframes animateGrid{
    100% {
        grid-template-columns: 0fr 1fr 0fr;
        grid-template-rows: 0px 44rem;
        gap: 0;
    }
}