.header {
    background-color: var(--background);
    padding: 2rem;
    text-align: left;

    h3 {
        text-box-trim: trim-both;
    }
}

.underlined {
    text-underline-offset: .6rem;
    text-decoration: underline;
}