.header {
    background-color: var(--background);
    padding: 2rem;
    text-align: left;

    h3 {
        text-box-trim: trim-both;
    }
}

.underlined {
    text-underline-offset: .6rem;
    text-decoration: underline;
}

.breadcrumb_list {
    & > li {   
        & > a {
            position: relative;
            & + div {
            position: absolute;
            position-area: top right;     
            transform: translate(12.5%, 50%);
        }  
        }   
        &:nth-of-type(1) {
            & > a  { 
                anchor-name: --all;                
                & + div {  
                    position-anchor: --all;
                }
            }
        }        

        &:nth-of-type(3) {
            & > a  { 
                anchor-name: --dev;                
                & + div {  
                    position-anchor: --dev;
                }
            }
        }        

        &:nth-of-type(5) {
            & > a  {                 
                anchor-name: --frontend;
                & + div {  
                    position-anchor: --frontend;
                }
            }
        }        

        &:nth-of-type(7) {
            & > a  {                 
                anchor-name: --diy;
                & + div {  
                    position-anchor: --diy;
                }
            }
        } 
        
        &:nth-of-type(9) {
            & > a  {                 
                anchor-name: --music;
                & + div {  
                    position-anchor: --music;
                }
            }
        }         
    }
}

.articles_list {
    width: 100%;
    height: 100%;
    /* "flex-1 flex flex-col gap-0 border-4 border-red-400" */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    padding: 0;
    margin: 0;

    .articles_list_card {
        box-sizing: border-box;
        position: relative;

        grid-column: span 1;
        grid-row: span 1;
        /* padding: 0; */
        margin: 0;
        width: 100%;
        height: 100%;
        aspect-ratio: 1;

        display: flex;
        flex-flow: column;
        justify-content: flex-start;

        transform-origin: center;

        border-radius: 0;        

        scale: 1;
        opacity: 1;

        /* background-color: var(--border-color); */
        /* border-color: var(--border-color); */
        &:hover {
            animation: fadeIn .2s ease-in-out 0s 1 normal forwards;   
            /* background-color: var(--border-color); */
            /* border-color: var(--border-color); */
            .cardHeader {
                container-name: header;
                container-type: inline-size;   
                height: calc(var(--spacing) * 32);
                z-index: 2;
            }

            .cardContent {                
                visibility: visible;                
            }

            .cardDescription {
                visibility: visible;
                height: 100%;
                border-top: 1px solid var(--color-gray-300);
                padding-top: .5rem;
            }            
        }

        .coverImage {
            position: absolute;
            inset: 0;            
            border-style:  solid;
            /* border-width: calc((100dvw - 2ch) / 2); */

            z-index: -1;
            display: none;

            .articles_list_card:hover & {
                border-width: 0;
                border-color: transparent;
            }
        }

        &:not(:hover) .cardHeader {
            container-name: header;
            container-type: inline-size;       
            z-index: 2;
            margin-block-start: 40%;

            display: flex;
            flex-flow: column;
            justify-content: start;
            align-items: center;
            

            div {
                /* display: contents; */
                width: 100%;
                height: auto;

                text-align: center;

                font-size: clamp(1vw,1.2rem,1.4rem);
            }
        }   

        &:not(:hover) :is(.cardDescription,.cardContent,.cardFooter,.excerpt){
            /* display: none; */
            /* height: 0px; */
            visibility: hidden;
            /* font-size: 0; */
            /* transition: font-size .2s ease-in-out 0s 1 normal forwards; */
        }

        .cardTitle {
            font-weight: bold;
            max-height: 3lh;
            height: 3lh;
        }

        .cardDescription {
            /* & > div { */
                visibility: hidden;
            /* } */
            /* height: calc(var(--spacing) * 24); */                
        }  

        .cardContent {
            container-name: card-content;
            container-type: inline-size;    

            width: 100%;
            height: 100%;
        }

        .excerpt {
            p {
                text-wrap: pretty;  
                font-size: clamp(4px, 1rem, 1vw + 1px);
                transition: font-size .125s ease-in-out 0s 1 normal forwards;
            }
        }

        .cardFooter {
            margin-top: auto;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            transform-origin: bottom left;
        }        
    }    
}

/* ----------------- MOBILE ----------------- */
@media screen and (max-width: 361px) {
    .articles_list {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    :global(h3) {
        font-size: 2rem;
        background-color: yellow;
    }
}

@container header (width < 22rem) {
    .cardTitle {
        font-size: 2vw;
    }
}

.pill {
    margin-left: .75rem;
    border-radius: 100%;
}

@keyframes fadeIn {
    0% {
        border-width: 0;
        border-color: var(--border-color);
        background-color: var(--border-color);  
    }
    100% {
        border-width: 2ch;
        border-color: var(--border-color);
        background-color: var(--background);        
    }
}