.header {
    background-color: var(--background);
    padding: 2rem;
    text-align: left;

    h3 {
        text-box-trim: trim-both;
    }
}

.underlined {
    text-underline-offset: .6rem;
    text-decoration: underline;
}

.breadcrumb_list {
    @media screen and (orientation: portrait) {
        font-size: 8px;

        & > li {
            & > a {
                font-size: 12px;
                & + div {
                    display: none;
                }
            }
        }
    }
    & > li {   
        & > a {
            anchor-name: var(--anchor-name);
            position: relative;
            & + div {            
                position-anchor: var(--anchor-name);
                position-area: top right;     
                transform: translate(50%, 25%);
        }  
        }   
        &:nth-of-type(1) {
            & > a  {                                 
                & + div {  
                    position-anchor: --all;
                }
            }
        }        

        &:nth-of-type(3) {
            & > a  {                                 
                & + div {                      
                    position-anchor: --dev;
                }
            }
        }       

        &:nth-of-type(5) {
            & > a  {                                 
                & + div {  
                    position-anchor: --diy;
                }
            }
        } 
        
        &:nth-of-type(7) {
            & > a  {                                 
                & + div {  
                    position-anchor: --music;
                }
            }
        }         
    }
}

.articles_list {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    padding: 0;
    margin: 0;

    .articles_list_card {
        box-sizing: border-box;
        position: relative;

        grid-column: span 1;
        grid-row: span 1;

        margin: 0;

        width: 100%;
        height: 100%;
        aspect-ratio: 1;

        display: flex;
        flex-flow: column;
        justify-content: center;

        transform-origin: center center;
        background-color: var(--backgroundColor);
        border-radius: 0;        

        scale: 1;
        opacity: 1;

        &::after, &::before {
            content: '';
            position: absolute;

            background-size: cover;
            background-position-x: center;
            background-repeat: no-repeat;
            background-blend-mode:luminosity;

            opacity: 1;

            z-index: -1;

            transition: all .2s linear;
        }

        &::after {
            inset: 2.5%;
            background-image: var(--background-image-url);
            background-color: var(--backgroundColor);
            filter: blur(20px);
        }

        &::before {
            inset: 0rem;
            z-index: -2;
            transition: inset 2s linear;
        }

        &:hover {
            justify-content: flex-start;
            &::after {
                animation: slide_bg_image_down .2s ease-in-out 0s 1 normal forwards;                   
            }

            .cardHeader {
                container-name: header;
                container-type: inline-size;   
                height: calc(var(--spacing) * 32);
                z-index: 2;                
                font-weight: bold;

                @media screen and (orientation: portrait) {
                    & span {font-size: 1rem;}
                }            
            }

            .pill {                
                animation: animate_tech_logos .1s ease-out calc(sibling-index() * .05s + .3s) 1 forwards;
                margin-bottom: 1rem;
            }

            .cardDescription {
                /* visibility: visible; */
                opacity: 1;
                height: 100%;
                border-top: 1px solid var(--color-gray-300);
                padding-top: .5rem;
                transform: translate(0, 0);
            }            
        }

        &:not(:hover) .cardHeader {
            container-name: header;
            container-type: inline-size;       
            z-index: 2;
            /* margin-block-start: 40%; */

            display: flex;
            flex-flow: column;
            justify-content: start;
            align-items: start;

            div {
                width: 100%;
                height: auto;

                font-size: 1rem;
            }

            @media screen and (orientation: portrait) {
                div {
                    width: 100%;
                    height: auto;

                    /* font-size: 1rem; */
                }
            }
        }   

        &:not(:hover) :is(.cardDescription,.cardContent,.cardFooter,.excerpt){
            opacity: 0;
            transition: all .2s linear;
        }

        .cardTitle {
            width: fit-content;
            font-weight: bold;
            max-height: 3lh;
            height: 3lh;
            & > span {
                padding: .25rem;
                background-color: color-mix(in srgb, var(--background), transparent 10%);
            }
            @media screen and (orientation: portrait) {
                font-size: 1rem;
            }
        }

        .cardContent {
            container-name: card-content;
            container-type: inline-size;    

            width: 100%;
            height: 100%;
            opacity: 1;           
            
            transition: all .2s linear;

            @starting-style {
                transform: translate(0, -50%);
                opacity: 0;
            }
        }

        .excerpt {
            p {
                text-wrap: pretty;  
                font-size: clamp(4px, 1rem, 1vw + 1px);
                transition: font-size .125s ease-in-out 0s 1 normal forwards;
            }
        }

        .cardFooter {
            margin-block: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            transform-origin: bottom left;
        }        
    }    
}

/* ----------------- MOBILE ----------------- */
@media screen and (max-width: 414px) {
    .articles_list {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    :global(h3) {
        font-size: 2rem;
    }
}

@container header (orientation: portrait) {
    .cardTitle {
        font-size: 2vw;
    }
}

.pill {
    margin-left: .75rem;
    /* border-radius: 100%; */
    opacity: 0;
    @starting-style {
        transform: translate(-2ch, 0);
        margin-left: 0;
        opacity: 0;
    }
}

@keyframes slide_bg_image_down {
    0% {
        /* border-width: 0; */
        /* border-color: var(--borderColor); */
        /* background-color: var(--borderColor);   */
        /* background-size: cover; */
        background-position-x: center;
        background-position-y: 25%;     
        filter: blur(5px);
        opacity: .4;  
    }
    100% {
        /* border-width: 2ch; */
        /* border-color: var(--borderColor); */
        background-color: var(--background);        
        background-size: 18dvh;
        background-position-x: center;
        background-position-y: 75%;
        filter: blur(0px);
        opacity: 1;
        background-blend-mode: normal;
        
    }
}

@keyframes animate_header {
 0% {
    margin-block-start: 40%;
 }   

 100% {
    margin-block-start: 0;
 }   
}

@keyframes animate_content {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate_tech_logos {
    0% {
        /* transform: translate(-2ch, 0); */
        transform: translate(0, -2ch);
        /* margin-left: .75rem; */
        opacity: 0;
    }

    100% {
        /* transform: translate(0, 0); */
        transform: translate(0, 0);
        /* margin-left: .75rem; */
        opacity: 1;
    }
}