.header {
    background-color: var(--background);
    padding: 2rem;
    text-align: left;

    h3 {
        text-box-trim: trim-both;
    }
}

.underlined {
    text-underline-offset: .6rem;
    text-decoration: underline;
}

.breadcrumb_list {
    & > li {   
        & > a {
            anchor-name: var(--anchor-name);
            position: relative;
            & + div {            
                position-anchor: var(--anchor-name);
                position-area: top right;     
            transform: translate(50%, 25%);
        }  
        }   
        &:nth-of-type(1) {
            & > a  {                                 
                & + div {  
                    position-anchor: --all;
                }
            }
        }        

        &:nth-of-type(3) {
            & > a  {                                 
                & + div {                      
                    position-anchor: --dev;
                }
            }
        }       

        &:nth-of-type(5) {
            & > a  {                                 
                & + div {  
                    position-anchor: --diy;
                }
            }
        } 
        
        &:nth-of-type(7) {
            & > a  {                                 
                & + div {  
                    position-anchor: --music;
                }
            }
        }         
    }
}

.articles_list {
    width: 100%;
    height: 100%;
    /* "flex-1 flex flex-col gap-0 border-4 border-red-400" */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    padding: 0;
    margin: 0;

    .articles_list_card {
        box-sizing: border-box;
        position: relative;

        grid-column: span 1;
        grid-row: span 1;
        /* padding: 0; */
        margin: 0;

        width: 100%;
        height: 100%;
        aspect-ratio: 1;

        display: flex;
        flex-flow: column;
        justify-content: center;

        transform-origin: center center;
        background-color: var(--backgroundColor);
        border-radius: 0;        

        scale: 1;
        opacity: 1;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: var(--backgroundColor);
            background-image: var(--background-image-url);
            /* background-size: 24dvh 24dvh; */
            background-size: cover;
            /* background-size: contain; */
            background-position-x: center;
            /* background-position-y: 12.5%; */
            background-repeat: no-repeat;

            /* mix-blend-mode: darken; */
            background-blend-mode:luminosity;

            opacity: .5;

            z-index: -1;

            transition: background-position 1s linear;
        }

        &:hover {
            justify-content: flex-start;
            &:after {
                animation: fadeIn .2s ease-in-out 0s 1 normal forwards;   
            }
            /* background-color: var(--border-color); */
            /* border-color: var(--border-color); */
            .cardHeader {
                container-name: header;
                container-type: inline-size;   
                height: calc(var(--spacing) * 32);
                z-index: 2;

                /* animation: animate_header .125s linear 0s 1 forwards; */
            }

            .pill {                
                animation: animate_tech_logos .1s ease-out calc(sibling-index() * .05s + .3s) 1 forwards;
                margin-bottom: 1rem;
            }

            .cardDescription {
                /* visibility: visible; */
                opacity: 1;
                height: 100%;
                border-top: 1px solid var(--color-gray-300);
                padding-top: .5rem;
            }            
        }

        &:not(:hover) .cardHeader {
            container-name: header;
            container-type: inline-size;       
            z-index: 2;
            margin-block-start: 40%;

            display: flex;
            flex-flow: column;
            justify-content: start;
            align-items: start;
            

            div {
                /* display: contents; */
                width: 100%;
                height: auto;

                /* text-align: center; */
                margin-left: 1ch;

                font-size: clamp(1vw,1.2rem,1.4rem);
            }
        }   

        &:not(:hover) :is(.cardDescription,.cardContent,.cardFooter,.excerpt){
            opacity: 0;
        }

        .cardTitle {
            font-weight: bold;
            max-height: 3lh;
            height: 3lh;
        }

        .cardContent {
            container-name: card-content;
            container-type: inline-size;    

            width: 100%;
            height: 100%;
            opacity: 1;
        }

        .excerpt {
            p {
                text-wrap: pretty;  
                font-size: clamp(4px, 1rem, 1vw + 1px);
                transition: font-size .125s ease-in-out 0s 1 normal forwards;
            }
        }

        .cardFooter {
            margin-block: auto;
            width: 100%;
            display: flex;
            justify-content: center;
            transform-origin: bottom left;
        }        
    }    
}

/* ----------------- MOBILE ----------------- */
@media screen and (max-width: 361px) {
    .articles_list {
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    :global(h3) {
        font-size: 2rem;
        background-color: yellow;
    }
}

@container header (width < 22rem) {
    .cardTitle {
        font-size: 2vw;
    }
}

.pill {
    margin-left: .75rem;
    /* border-radius: 100%; */
    opacity: 0;
    @starting-style {
        transform: translate(-2ch, 0);
        margin-left: 0;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        border-width: 0;
        border-color: var(--borderColor);
        background-color: var(--borderColor);  
        /* background-size: cover; */
        background-position-x: center;
        background-position-y: 25%;     
        filter: blur(5px);
        opacity: .4;  
    }
    100% {
        border-width: 2ch;
        border-color: var(--borderColor);
        background-color: var(--background);        
        background-size: 18dvh;
        background-position-x: center;
        background-position-y: 75%;
        filter: blur(0px);
        opacity: 1;
        background-blend-mode: normal;
        
    }
}

@keyframes animate_header {
 0% {
    margin-block-start: 40%;
    margin-left: 2ch;
 }   

 100% {
    margin-block-start: 0;
    margin-left: 0;
 }   
}

@keyframes animate_content {
    0% {
        opacity: 0;
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate_tech_logos {
    0% {
        /* transform: translate(-2ch, 0); */
        transform: translate(0, -2ch);
        /* margin-left: .75rem; */
        opacity: 0;
    }

    100% {
        /* transform: translate(0, 0); */
        transform: translate(0, 0);
        /* margin-left: .75rem; */
        opacity: 1;
    }
}