.typing_animation {
    font-size: 3rem;
    line-height: 1;
    margin-block: .5rem;
    font-weight: 300;
    & > span:last-child {
        color: var(--primary);
    }
}

@media screen and (orientation: portrait) {
    .typing_animation {
        font-size: 2.25rem;
    }
}