.chat {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;
    /* scrollbar-color: red green; */

    &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
    }    
}

.header {
    transform-origin: bottom center;
    transform: translateY(0%);
    padding-inline: 1rem;
    /* transition: transform 1s linear both;
     */

    animation: header_entrance .17s linear forwards;
    @starting-style {
        transform: translateY(-50%);
    }    
    :global(.dark) & {
        color: #e4e4e4;        
    }
}

.messages {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;
    scrollbar-color: red orange;

}

@keyframes header_entrance {
    from {
        transform: translateY(-50%);
    }
    to {
        transform: translateY(0%);
    }
}
