.chat {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;
    /* scrollbar-color: red green; */

    &::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
    background-color: #d4aa70;
    border-radius: 100px;
    }    
}

.messages {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;
    scrollbar-color: red orange;

}

.header {
    :global(.dark) & {
        color: #e4e4e4;
        padding-inline: 1rem;
    }
}
