.chat {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;

    transition: transform 2s ease-in-out;
    transform: translate(0, 0)   ;

    &::-webkit-scrollbar-thumb {
        background-color: #d4aa70;
        border-radius: 100px;
    }    
    border-inline-end-color: var(--muted-foreground);
    
    :global(.dark) & {
        border-inline-end: 1px solid var(--background);
    }
}

.header {
    transform-origin: bottom center calc(100dvh / 12 * -1);
    transform-style: preserve-3d;
    transform: translateY(0%);
    padding-inline: 1rem;
    /* transition: transform 1s linear both;
     */

    animation: header_entrance .07s linear forwards;
    @starting-style {
        /* transform: translateY(-50%) rotateX(90deg); */
        opacity: 1;
    }    
    :global(.dark) & {
        color: #e4e4e4;        
    }
}

.messages {
    width: 100%;
    height: 100%;
    min-height: 15lh;
    flex: 1;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    color: #030712;
    scrollbar-color: var(--primary) transparent;
}

.container {
    /* position dans la grid */
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 44rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 10dvh 1fr;
    gap: 0;

    padding: 0px;
    margin-top: 0px;

    background-color: hsl(from #e4e4e4 h s l / 50%);

    :global(.dark) & {
        background-color: hsl(from white h s l / 100%);
        color: var(--background);
    }

    & > *:first-child {
        width: 100%;
        height: 100%;
        grid-column: 1 / span 4;
        grid-row: 1 / span 1;
    }

    & > *:nth-child(2){
        width: 100%;
        height: 100%;
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
    }
}

@keyframes header_entrance {
    from {
        /* transform: translateY(0%) rotateX(90deg); */
    }
    to {
        transform: translateY(0%) rotate(0deg);
    }
}
