.chat {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;

    &::-webkit-scrollbar-track {
        background-color: red;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #d4aa70;
        border-radius: 100px;
    }    

    scrollbar-color: var(--primary) red;
    scrollbar-track-color: red;
    border-inline-end-color: var(--muted-foreground);
    
    :global(.dark) & {
        border-inline-end: 1px solid var(--background);
    }
}

.header {
    transform-origin: bottom center calc(100dvh / 12 * -1);
    transform-style: preserve-3d;
    transform: translateY(0%);
    padding-inline: 1rem;
    /* transition: transform 1s linear both;
     */

    animation: header_entrance .07s linear forwards;
    @starting-style {
        /* transform: translateY(-50%) rotateX(90deg); */
        opacity: 1;
    }    
    :global(.dark) & {
        color: #e4e4e4;        
    }
}

.messages {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    color: #030712;
    scrollbar-color: var(--primary) transparent;

}

@keyframes header_entrance {
    from {
        /* transform: translateY(0%) rotateX(90deg); */
    }
    to {
        transform: translateY(0%) rotate(0deg);
    }
}
