.container {
    view-transition-name: skills-container;
    transition: background-color .125s linear;
    gap: calc(var(--spacing) * 12); 

    transform-style: preserve-3d;
    perspective: 1000px;
    /* transition: background-color .125s linear; */

    place-content: center;

    &::view-transition-old(skills-container){
        animation: slide-out 3s ease-in-out;
    }

    &::view-transition-new(skills-container){
        animation: slide-in 3s ease-in-out;
    }

    @media (min-width: 768px) {
        min-width: 100%;
        /* aspect-ratio: 3 / 2; */

        display: grid;        
        grid-template-columns: var(--col-width) var(--col-width) var(--col-width);
        grid-template-rows: var(--row-height) var(--row-height);
        gap: calc(var(--spacing) * 3) /* 1rem = 16px */;

        /* transform-origin: top center; */
        transform: scale(.85);

        overflow-y: clip;

        scroll-snap-align: start;
        container-type: scroll-state;

        padding-block: 0;
    }
}

.figure {
    justify-self: center;
    place-self: center;
    position: relative;
    width: fit-content;
    max-width: 70ch;
    max-height: calc(18dvh * 1);
    /* width: 100%; */
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* border-radius: 1rem; */
    /* padding: 2rem; */
    /* transform-style: preserve-3d; */
    /* perspective: 1000px; */

    /* background-color: transparent; */
    border-color: transparent;

    padding: 1rem;
    margin-block: auto;

/* transform: translateY(2.25rem); */
    transition: inset 1s ease, scale .4s ease;
/* &:nth-of-type(1){
    color: white;
} */
    &:nth-of-type(4){
        &::before {
            content: '';
            position: absolute;
            inset: calc(var(--spacing) * 4);
            /* background-image: url('/geometric-pattern.svg'); */
            background-size: cover;
            background-position: center;
            background-repeat: repeat;
            border-radius: 1rem;
        }
    }

    blockquote {
        text-wrap: pretty;
        max-width: 70ch;
    }
}

.PatternComponent {
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;

    mix-blend-mode: color-burn;
}

@keyframes slide-in {
    0%{
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
