.container {
    gap: calc(var(--spacing) * 12); 

    transform-style: preserve-3d;
    perspective: 1000px;
    /* transition: background-color .125s linear; */

    place-content: center;

    @media (min-width: 768px) {
        min-width: 100%;
        /* aspect-ratio: 3 / 2; */

        display: grid;
        grid-template-columns: var(--col-width) var(--col-width) var(--col-width);
        grid-template-rows: var(--row-height) var(--row-height);
        gap: calc(var(--spacing) * 3) /* 1rem = 16px */;

    /* transform-origin: top center; */
    transform: scale(.85);

    overflow-y: clip;

    scroll-snap-align: start;
    container-type: scroll-state;

    padding-block: 0;
    }
}

.figure {
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 2rem;
    transform-style: preserve-3d;
    perspective: 1000px;

    background-color: transparent;

    transition: inset 1s ease, scale .4s ease;

    &:nth-of-type(4){
        border-color: transparent;
        &::before {
        content: '';
        position: absolute;
        inset: calc(var(--spacing) * 4);
        /* background-image: url('/geometric-pattern.svg'); */
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        border-radius: 1rem;
    }
    }
}
