.LightThemeSwitchIllustration {
    /* className="absolute inset-0 w-full h-full -z-10"  */
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    pointer-events:all;    
    cursor: pointer;
}