.container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* flex: 1; */
    /* background-color: white; */
    padding: 0;
    border-radius: 0;

    :global(.dark) & {
        /* background-color: color-mix(in srgb, white 20%, black); */
    }
}

.header {
    width: 100%;
    max-height: 3lh;
    height: fit-content;
    /* flex: 1; */
    /* height: fit-content; */
    /* border-bottom: 2px solid var(--background); */
    border-top: 2px solid var(--background);
    /* margin-top: 0px; */
    margin: 0;
    padding: 0;
    border-radius: 0;    
    padding-top: calc(var(--spacing) * 6);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /* transition: height 1000ms linear;

    @starting-style {
        transition: height 1000ms linear;
        height: 0px;
    } */
    

    /* transition: height 1s linear forwards; */

    /* transform-origin: bottom center calc(100dvh / 12 * -1); */
    /* transform-style: preserve-3d; */

    :global(.dark) & {
        color: var(--background);        
    }

    & label {
        color: white;
    }
    & input {
        margin-inline-end: 1.25rem;
        background-color: white;

        @starting-style {
            height: 0;
            border-width: 0;
        }
    }
}

.content {
    width: 100%;
    height: 100%;
    min-height: 15lh;
    flex: 1;
    padding: 0;
    margin: 0;

}

.textarea {
    /* position: absolute;
    bottom: 0;
    left:0;
    right: 0; */
    overflow-y: scroll;
    min-height: 0;

    width: 100%;
    height: 100%;
    border-inline-end: 1px solid var(--input);
    flex: 1;
    
    /* min-height: 0; */
    color: #030712;    
    /* background-color: hsl(from #e4e4e4 h s l / 50%); */
    color: var(--primary);
    border-radius: 0;

    :global(.dark) & {
        border-inline-end: 1px solid var(--background);
        color: var(--background);
        background-color: white;                
    }
}

.footer {
    align-self: flex-end;
    /* "w-full h-fit flex flex-row items-start justify-end gap-2" */
    width: 100%;
    max-height: 2lh;
    /* height: fit-content; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: start; */
    /* gap: calc(var(--spacing) * 2); */
    border-radius: 0;
    padding: 0;
    margin: 0;

    /* transform: translateY(-100%); */
}

@keyframes header_entrance {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}